body > div {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
  min-height: 100vh;
}

.main {
  background-color: var(--light-gray);
  display: flex;
  margin-top: var(--size-header);
  min-height: calc(100vh - var(--size-header));
  width: 100%;
}

a {
  color: var(--light-gray);
  cursor: pointer;
  text-decoration: none;
}

.btn-container, .search, .logo-container, .count-cart, .header, .cart-header-container {
  align-items: center;
  display: flex;
}

@media ( min-width : 600px ) {

  .ml-category {
    margin-left: var(--size-categories-p);
    width: calc(100% - var(--size-categories-p));
  }
}

@media ( min-width : 900px ) {

  .ml-category {
    margin-left: 330px;
    width: calc(100% - 330px);
  }

  .order:hover, .btnAddCart:hover, .btn-container:hover, .btn-container:focus-within {
    border: 3px solid var(--pink);
    box-shadow: 0 0 15px rgba(255, 59, 147, 0.6);
  }
}
