.main {
  align-items: center;
  flex-direction: column;
}

.page-cart-container {
  width: 95%;
}

.back-button {
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--pink);
  cursor: pointer;
  display: flex;
  font-weight: 700;
  justify-content: center;
  outline: none;
  padding: 5px;
  transition: 0.1s ease-in;
}

.back-button:hover {
  color: var(--blue);
}

.cart-container {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  max-height: calc(98vh - var(--size-header) - 49px);
  padding: 5px;
  width: 100%;
}

.cart-product-container {
  max-height: calc(100vh - 198px);
  overflow: scroll;
}

.checkout {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: space-around;
  max-width: 604px;
  width: 100%;
}

.total {
  text-align: center;
}

.title-total {
  color: var(--dark-purple);
  font-size: 1.8rem;
  font-weight: 600;
}

.value-total {
  color: var(--pink);
  font-size: 2rem;
  font-weight: 800;
}

.btn-checkout {
  background-color: var(--dark-purple);
  border: none;
  border-radius: 50px;
  color: var(--blue);
  cursor: pointer;
  font-weight: 700;
  gap: 5px;
  height: 40px;
  justify-content: center;
  padding: 0 20px;
  transition: 0.1s ease-in;
}
