.aside {
  background-color: var(--gray);
  display: flex;
  padding-top: 1rem;
  width: 30rem;
}


.txtCategory {
  display: none;
}

.lblCategory {
  background: transparent;
  border: none;
  color: var(--dark-purple);
  cursor: pointer;
  font-size: 15px;
  padding: 1em 1.5em;
  position: relative;
  text-transform: uppercase;
  transition: 0.2s ease;
}

.lblCategory:before {
  background-color: var(--pink);
  bottom: 0;
  height: 2px;
  left: 0;
  position: absolute;
  transition: 0.5s ease;
  width: 0;
}

.lblCategory:hover {
  color: var(--purple);
  transition-delay: 0.5s;
}

.lblCategory:hover:before {
  width: 100%;
}

.lblCategory:after {
  background-color: var(--green);
  bottom: 0;
  height: 0;
  left: 0;
  position: absolute;
  transition: 0.4s ease;
  width: 100%;
  z-index: -1;
}

@media screen and ( min-width : 600px ) {

  .lblCategory {
    width: 100%;
  }

  .product {
    display: none;
  }
}

@media screen and ( min-width : 900px ) {

  .product {
    display: none;
  }
}
