.aside {
  align-items: center;
  background-color: var(--gray);
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--size-header));
  left: 0;
  overflow-y: scroll;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.category {
  background: transparent;
  border: none;
  color: var(--dark-purple);
  cursor: pointer;
  font-size: 15px;
  padding: 3px 0;
  text-transform: uppercase;
  width: 100%;
}

.category:hover {
  color: var(--purple);
  transition: 0.3s ease;
}

@media ( min-width : 600px ) {

  .aside {
    width: var(--size-categories-p);
  }
}

@media ( min-width : 900px ) {

  .aside {
    width: 330px;
  }
}
