.form-container {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  overflow: scroll;
  padding: 5px;
  width: 100%;
}

.form-title {
  color: var(--purple);
  font-size: 2.2rem;
  font-weight: 700;
  margin: 10px 0;
}

.form-input {
  border: 1px solid var(--pink);
  border-radius: 8px;
  color: var(--dark-purple);
  font-size: 1.6rem;
  outline: none;
  padding: 5px;
  transition: 0.1s ease-in;
  width: 100%;
}

.invalid-input {
  background-color: rgba(255, 0, 0, 0.1);
  border: 1px solid darkred;
  border-radius: 10px;
  color: darkred;
  margin: 8px 0;
  padding: 5px;
  text-align: center;
  width: 80%;
}

.smaller {
  font-size: 1.9rem;
  margin: 0;
  width: 100%;
}

.form-container > label {
  color: var(--dark-purple);
  width: 100%;
}

.payment-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  margin: 10px 0;
  max-width: 450px;
  width: 100%;
}

.payment-container > label > input, .input-freight {
  display: none;
}


@media ( min-width : 900px ) {

  .form-container {
    width: 45%;
  }
}
