.header {
  background-color: var(--dark-purple);
  gap: 20px;
  height: var(--size-header);
  justify-content: space-around;
  padding: 5px 3px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.logo-container {
  justify-content: center;
}

.logo {
  width: 80px;
}

.cart-header-container {
  justify-content: center;
  position: relative;
}

.count-cart {
  background-color: var(--green);
  border-radius: 100%;
  color: var(--dark-purple);
  font-weight: 700;
  height: 25px;
  justify-content: center;
  position: absolute;
  right: 9px;
  top: -2px;
  width: 25px;
}

.btn {
  background-color: transparent;
  border: none;
  color: var(--light-gray);
  outline: none;
  padding: 7px 0;
}

.categories {
  background-color: transparent;
  border: none;
  color: var(--purple);
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 700;
  margin: 5px 10px 0;
  outline: none;
  padding: 2px 5px;
  transition: 0.1s ease-in;
}

.open {
  color: var(--green);
}

.btn::placeholder {
  color: var(--gray);
}

.search-container {
  width: 75%;
}

.btn-container {
  border: 1px solid var(--pink);
  border-radius: 8px;
  gap: 5px;
  justify-content: center;
  padding: 0 5px;
  transition: 0.1s ease-in;
  width: 100%;
}

.input {
  font-size: 1.6rem;
  width: 100%;
}

.search {
  color: var(--blue);
  cursor: pointer;
  justify-content: center;
}

@media ( min-width : 600px ) {

  .header {
    gap: 0;
  }

  .search-container {
    width: 55%;
  }

  .btn-container {
    padding: 0 10px;
  }

  .cart-header-container {
    width: 80px;
  }

  .count-cart {
    right: 26px;
  }
}

@media ( min-width : 900px ) {

  .header {
    justify-content: space-around;
  }

  .logo, .cart-header-container {
    width: 250px;
  }

  .search-container {
    width: 40%;
  }

  .count-cart {
    right: 111px;
  }

  .logo-container:hover {
    filter: drop-shadow(0 0 15px var(--pink));
  }

  .categories:hover {
    color: var(--blue);
    text-shadow: 0 0 15px var(--blue);
  }

  .cart-header-container:hover {
    filter: drop-shadow(0 0 15px var(--green));
  }
}

@keyframes slidetop {

  from {
    opacity: 0;
    top: -50px;
  }

  to {
    opacity: 1;
    top: -2px;
  }
}
