.product-list-container {
  display: grid;
  gap: 20px 20px;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
  width: 100%;
}

.products-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.productBox {
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 14px rgba(55, 2, 58, 0.3);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.freteGratis {
  background-color: var(--pink);
  border-radius: 25px;
  color: var(--light-gray);
  font-size: 14px;
  font-weight: 700;
  padding: 4px 8px;
  position: absolute;
  right: 3px;
  top: 5px;
}

.imgProduct {
  align-items: center;
  height: 230px;
  width: 100%;
}

.product-infos {
  padding: 0 8px;
}

.nameProduct {
  color: var(--purple);
  font-size: 1.5rem;
  height: 40px;
  overflow: hidden;
  text-align: center;
}

.priceProduct {
  color: var(--pink);
  font-size: 1.8rem;
  font-weight: 900;
  margin: 5px 0;
}

.btnAddCart {
  align-items: center;
  background-color: var(--dark-purple);
  border: none;
  border-radius: 50px;
  color: var(--blue);
  cursor: pointer;
  display: flex;
  font-weight: 600;
  gap: 5px;
  height: 40px;
  justify-content: center;
  margin-bottom: 10px;
  padding: 0 20px;
  transition: 0.1s ease-in;
}

@media ( min-width : 600px ) {

  .product-list-container {
    display: grid;
  }
}

@media ( min-width : 900px ) {

  .productBox:hover {
    transform: scale(1.2);
    z-index: 1;
  }
}

